<div style="background: #F9F5F3 0% 0% no-repeat padding-box;">
    <div class="d-flex">
        <app-sidebar></app-sidebar>
        <div style=" width: 95%;">
            <app-navbar></app-navbar>
            <div class="row m-0 justify-content-around mt-5">
                <div class="col-8">
                    <app-station-statistics></app-station-statistics>
                    <app-card-station></app-card-station>
                    <app-graph-station></app-graph-station>
                </div>
                <div class="col-3"> <app-rightside></app-rightside></div>
            </div>
        </div>
    </div>
</div>