.station-card {
    background-color: white;
    border-radius: 20px;
}


.title-card {
    border-bottom: 1px solid #E0E7F1;
}

.title-card .station-name {
    position: relative;
    display: flex;
    align-items: center;
}

.title-card .station-name::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0px;
    border-radius: 50%;
    border: 5px solid var(--color-orange);
}

.station-name h6 {
    font-size: 17px;
    font-weight: 500;
}

h6 {
    font-size: 11px;
    font-weight: bold;
    color: var(--color-dark-blue);
}