.content-charts {
    background-color: white;
    border-radius: 30px;
}

.title {
    border-bottom: 1px solid #E0E7F1;
}

P {
    font-weight: 500;
    font-size: 13px;
}

a {
    font-size: 13px;
    color: var(--color-dark-blue);
    text-decoration: none;
    margin:0 5px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
}

.active {
    border-bottom: 4px solid var(--color-orange);
    color: var(--color-orange);
}